body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url('../images/bg.jpg') no-repeat center center/cover;
  background-size: cover;
  overflow: hidden;
  animation: backgroundAnimation 10s ease-in-out infinite;
}

@keyframes backgroundAnimation {
  0% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(180deg); }
  100% { filter: hue-rotate(360deg); }
}

h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.clock {
  display: flex;
  width:500px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  width: 100px;
  height: 80px;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
  opacity: 0.9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.clock .text {
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0.9;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.clock #ampm {
  bottom: 0;
  position: absolute;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .clock {
    flex-direction: column;
    align-items: center;
  }
  .clock div {
    margin: 10px 0;
  }
  .clock span {
    width: 80px;
    height: 60px;
    font-size: 40px;
  }
  .clock .text {
    height: 20px;
    font-size: 10px;
  }
  .clock #ampm {
    width: 50px;
    height: 20px;
    font-size: 16px;
  }
}
